<style>
    body{
      background-color: #2E343B;
    }
    <h1 align="center">Alaina's playlist</h1>

    a{color: #BFBFBF;
    }
    a:hover{color: white;}

    h1{
      text-align: center;
      color: #BFBFBF;
    }
