  h1,h2,h3,body,p{
    border: #2E343B solid;
  }
  body{
      background-color: #2E343B;
    }
    a{
      font-size: 20px
    }
    a{color: lightgrey;
    }
    a:hover{color: white;
    }
    img{
      padding: 2px
    }
    h1{
      font-size: 30px
    }
    h1{
      font-family: georgia, serif;
    }
    h1{
      text-align: center;
      color: lightgrey;
    }
    .smaller{
      width:30%;
    }

    h2{
      font-size: 25px
    }
    h2{
      color: lightgrey
    }

    h3{
      color: lightgrey
    }
    h3{
      font-size: 25px
    }

    p{
      font-size: 17px
    }
    p{
     color: lightgrey
    }
    p{
      line-height: 20px
    }

    .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  }
