<style>
  body{
      background-color: #2E343B;
    }

    a{color: lightgrey;
    }
    a:hover{color: white;
    }

    h1{
      text-align: center;
      color: lightgrey;
    }
    .smaller{
      width:30%;
    }

    h2{
      color: lightgrey
    }

    h3{
      color: lightgrey
    }
    p{
     color: lightgrey
    }
